.DS_Store
node_modules
.next
*.bun-build
actionhero
next.sock
packages/keryx/.env
example/backend/.env
example/frontend/.env
types
dump.rdb
.cache
docs/.vitepress/dist
docs/.vitepress/cache
docs/.vitepress/data
