:{$PORT}, {$APPLICATION_URL} {
	log {
		output file /dev/null
	}

	route /api/* {
		reverse_proxy localhost:8080
	}
	route /api {
		reverse_proxy localhost:8080
	}
	route * {
		reverse_proxy localhost:5200
	}
}
