:root {
  --vp-c-brand-1: #b8701e;
  --vp-c-brand-2: #cf8128;
  --vp-c-brand-3: #bb5533;
  --vp-c-brand-soft: rgba(207, 129, 40, 0.14);

  --vp-button-brand-bg: #b8701e;
  --vp-button-brand-hover-bg: #cf8128;
  --vp-button-brand-active-bg: #9a5e18;

  --vp-home-hero-name-color: transparent;
  --vp-home-hero-name-background: linear-gradient(135deg, #cf8128, #bb5533);
  --vp-home-hero-image-background-image: linear-gradient(
    135deg,
    rgba(207, 129, 40, 0.3),
    rgba(187, 85, 51, 0.3)
  );
  --vp-home-hero-image-filter: blur(40px);
}

.dark {
  --vp-c-brand-1: #e0a04a;
  --vp-c-brand-2: #eab56e;
  --vp-c-brand-3: #d4795e;
  --vp-c-brand-soft: rgba(224, 160, 74, 0.14);

  --vp-button-brand-bg: #b8701e;
  --vp-button-brand-hover-bg: #cf8128;
  --vp-button-brand-active-bg: #9a5e18;
}
